@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global reset */
html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #1f2937; /* Tailwind's gray-800 */
  font-family: 'Inter', sans-serif;
}
